.playing-table {
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    transform: rotate(90deg);
    transform-origin: top left;
    width: 100vh;
    height: 100vw;
    width: 100dvh;
    height: 100dvw;
    top: 0;
    left: 100%;
  }
}
